.sidebar {
    margin: 0;
    padding: 0;
    width: 230px;
    background-color: #ff0000;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar_a {
    margin-top: 30px;
}

.sidebar_logout {
    background-color: #ff0000;
    margin-top: 100%;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #8a8989;
    color: white;
}

div.content {
    margin-left: 130px;
    padding: 1px 16px;
    height: 100%;
}


/* @media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
} */